@model solder.Models.Solder
@{
    ViewBag.Title = "EditSolder";
}
<form asp-action="edit" asp-controller="admin" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SolderType" class="control-label">Type</label>
        <select class="form-control" asp-for="SolderType" asp-items="ViewBag.SolderType"></select>
    </div>
     <div class="form-group">
        <label asp-for="Product" class="control-label">Product</label>
        <select class="form-control" asp-for="Product" asp-items="ViewBag.SolderType"></select>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <p>Upload one or more files using this form:</p>
        <input type="file" name="Avatar" multiple class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>