@{
    Layout = "_MainLayout.cshtml";
    ViewBag.Title = "Solders Store";
}
<div id="top" class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-lg-offset-2">sdsdad</div>
        <div class="col-lg-1 col-lg-offset-1">a123</div>
    </div>
</div>
<div id="header" class="conteiner-fluid">
    <div class="row">
        <div class="col-lg-1 col-lg-offset-2">122ss3</div>
        <div class="col-lg-1 col-lg-offset-1">a1623</div>
    </div>
</div>

