body{
    background-color: #e5e5e5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#top{
    position: relative;
    background-color: antiquewhite;
    height: auto;
    line-height: 3;
    font-size: 12px;
}

#header{
    position: relative;
    background-color: burlywood;
    height: auto;
    line-height: 4;
}

#panel{
    position: relative;
    background-color: #ffffff;
    height: auto;
}

.text-left-padding{
    padding-left: 32px;
}

.cart-button
{
    background-color: antiquewhite;
    font-size: 14px;
}