body{
    background-color: #e5e5e5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#top{
    position: relative;
    background-color: antiquewhite;
    height: auto;
    line-height: 3;
    font-size: 12px;
}

#header{
    position: relative;
    background-color: burlywood;
    height: auto;
    line-height: 4;
}

#panel{
    position: relative;
    background-color: #ffffff;
    height: auto;
}

.text-left-padding{
    padding-left: 32px;
}

.cart-button
{
    background-color: antiquewhite;
    font-size: 14px;
}

.btn.active {
    background-color: #666;
    color: white;
}

#solders{
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}

#solders img
{
    width: 310px;
}

.solder{
    border: 2px double whitesmoke;
    margin: 2px;
}

.solder p{
    text-align: right;
    font-size: 20px;
    padding-right: 10px;
}

.from-offsets{
    padding: 10px 10px
}
